* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("./forest2.jpg");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
